<form (ngSubmit)="register()" #registerForm="ngForm">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" [(ngModel)]="model.username" placeholder="Username" class="form-control" id="exampleInputEmail1" name="username">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" [(ngModel)]="model.password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-success me-2">Register</button>
        <button type="button" class="btn btn-default me-2" (click)="cancelRegister()">Cancel</button>
    </div>

  </form>